@import "tailwindcss";

:root {
	--black: #1c1e24;
	--gray: #dfdfe2;
	--red: #ff4444;
	--blue: #42a5f5;
	--green: #4caf50;
	--green-debit: #66bb6a;
	--violet: #a78bfa;
}

@theme {
  --color-black: #1c1e24;
  --color-white: #aaacb4;
}

.black {
  color: var(--color-black)
}

.text {
  color: var(--color-white);
}

.gray {
  color: var(--gray);
}

.red {
  color: var(--red);
}

.bg-red {
  background-color: var(--red);
}

.border-red {
	border: 1px solid var(--red);
}

.blue {
  color: var(--blue);
}

.border-blue {
	border: 1px solid var(--blue);
}

.green {
  color: var(--green);
}

.bg-green {
  background-color: var(--green);
}

.border-green {
	border: 1px solid var(--green);
}

.green-debit {
  color: var(--green-debit);
}

.bg-green-debit {
  background-color: #2e6930;
}

.violet {
	color: var(--violet);
}

.bg-violet {
	background-color: #594a87;
}

.orange {
	color: var(--color-orange-400);
}

html {
	height: 100%;
}

body {
	background: #1c1e24;
	height: 100%;
}

#app {
	width: 360px;
	margin: 0 auto;
	overflow: hidden auto;
	/* transform-origin: top center; */
}

@media (min-width: 360px) and (max-width: 374px) {
	#app {
		width: 342px;
		font-size: 0.95rem;
		/* transform: scale(0.95); */
	}
}

@media (min-width: 402px) and (max-width: 440px) {
	#app {
		width: 396px;
		font-size: 1.1rem;
		/* transform: scale(1.1); */
	}
}

@media (min-width: 441px) {
	#app {
		width: 450px;
		font-size: 1.25rem;
		/* transform: scale(1.25); */
	}
}