@import "tailwindcss";

:root {
	--black: #1c1e24;
	--gray: #dfdfe2;
	--red: #ff4444;
	--blue: #42a5f5;
	--green: #4caf50;
	--green-debit: #66bb6a;
	--pico-font-size: 0.7rem;
  --pico-color: #aaacb4;
}

@theme {
  --color-black: #1c1e24;
  --color-white: #aaacb4;
}

[data-theme='dark'] {
	--pico-text-selection-color: rgba(245, 107, 61, 0.1875);
	--pico-primary: #f56b3d;
	--pico-primary-background: #d24317;
	--pico-primary-underline: rgba(245, 107, 61, 0.5);
	--pico-primary-hover: #f8a283;
	--pico-primary-hover-background: #e74b1a;
	--pico-primary-focus: rgba(245, 107, 61, 0.375);
	--pico-primary-inverse: #fff;
}

.black {
  color: var(--color-black)
}

.text {
  color: var(--color-white);
}

.gray {
  color: var(--gray);
}

.red {
  color: var(--red);
}

.blue {
  color: var(--blue);
}

.green {
  color: var(--green);
}

.green-debit {
  color: var(--green-debit);
}

.violet {
	color: var(--color-violet-500);
}

.orange {
	color: var(--color-orange-400);
}

html {
	height: 100%;
}

body {
	background: #1c1e24;
	height: 100%;
}

#app {
	width: 360px;
	margin: 0 auto;
	overflow: hidden auto;
	transform-origin: top center;
}

@media (min-width: 360px) and (max-width: 374px) {
	#app {
		transform: scale(0.95);
	}
}

@media (min-width: 402px) and (max-width: 440px) {
	#app {
		transform: scale(1.1);
	}
}

@media (min-width: 441px) {
	#app {
		transform: scale(1.25);
	}
}